#sider{
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    overflow: hidden;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border-right: 1px solid #e8e8e8;
    position: absolute;
    left: 0;
    background: #001529;
    top:0
}
.github {
    width: 200px;
    overflow: hidden;
    color: #fff;
    cursor: pointer;
    fill: currentColor;
    display: block;
    margin: 15px auto;
    text-align: left;
    padding-left: 23px;

}
.github span {
     position: relative;
     top: -10px;
     margin: 5px 10px;
     font-size: 14px;

 }